<div>
  <% @movies.each do |movie| %>
    <div class="flex movie_shadow m10 fl_align_center movie_tile">
      <iframe width="300" height="200" src="<%= movie.src %>"></iframe>
      
      <div class="flex movie_details">
        <label class="font_bold">Movie Title</label>
        <label><%= movie.title %>></label>
        <label class="font_bold">Description</label>
        <p><%= movie.description %></p>
        <label>Created at: <%= movie.video_created_at %></label>
      </div>

    </div>
  <% end %>
</div>