<div style="width: auto; display: flex; align-items: center; flex-direction: column; margin-top: 100px;">
  <%= form_tag("/movies", :method => "post") do %>
    <fieldset class="scheduler-border">
        <legend class="scheduler-border">Share a Youtube Movie</legend>
        <div class="control-group" style="display: flex; align-items: center; flex-direction: column; width: 500px;">
          <div>
            <label class="control-label input-label" for="url">Youtube URL :</label>
            <%= text_field_tag(:movie_url) %>
          </div>
          <div>
            <%= submit_tag("Share", class: 'btn btn-primary m5') %>
          </div>
        </div>
    </fieldset>
  <% end %>
</div>